template(name="cmdFieldsets")
  fieldset
    legend Output type
    .row
      .col-xs-6
        +outputField
    if condition output "is" "rwstats"
      .row
        .col-xs-12
          +rwstatsCmd
    if condition output "is" "rwcount"
      .row
        .col-xs-12
          +rwcountCmd
