template(name="cmdFieldsets")
  fieldset
    legend Output type
    .row
      .col-xs-6
        .input-group
          .input-group-btn
            .btn-group
              button.set-property.btn.btn-default(class="{{#if condition output 'is' 'rwcut'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="output", data-value="rwcut", type="button")
                i.fa.fa-bars
                | Records
              button.set-property.btn.btn-default(class="{{#if condition output 'is' 'rwstats'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="output", data-value="rwstats", type="button")
                i.fa.fa-tasks
                | Stats
              button.set-property.btn.btn-default(class="{{#if condition output 'is' 'rwcount'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="output", data-value="rwcount", type="button")
                i.fa.fa-bar-chart-o
                | Count
    if condition output "is" "rwstats"
      .row
        .col-xs-12
          +rwstatsCmd
