template(name="forgotPasswordAlertDescription")
  form.forgot-password-form
    .form-group
      input.form-control.email(type="text", name="email", placeholder="{{t 'forms.login.passwordForgot.alert.emailPlaceholder'}}")
