.add-talk-wrapper
  margin 10px 0
  .first-row
    padding 15px 0
  .results
    .user
      &:hover
        cursor pointer
        .name
          text-decoration underline
  .buttons
    padding 15px 0 0
