template(name="exclusionsCmd")
  .input-group.exclusion
    .input-group-addon Exclusions
    +input(family="query" _id=_id property="exclusionsCmd" value=exclusionsCmd isNew=isNew placeholder="Example: --sensor=50 --type=S OR --sensor=60 --type=7")
