template(name="exclusions")
  form.excution-form.panel
    .row
      .col-xs-12
        each exclusions
          .input-group.exclusion
            .input-group-addon Exclusion
            input.form-control(type="text", name="exclusion", placeholder="Exclusion", value=string)
            span.input-group-btn.delete-exclusion
              a.btn.btn-default.delete-exclusion
                i.fa.fa-minus
        span.input-group-btn.add-exclusion
          a.btn.btn-default.add-exclusion
            i.fa.fa-plus
            | Add exclusion