template(name="resetPasswordAlertButtonsPanel")
  .button-panel.clearfix
    .error-container.pull-left
    button.btn.btn-success.reset-button(type="button") {{t "forms.login.passwordReset.alert.reset"}}
    button.btn.btn-default.close-button(type="button") {{t "interface.cancel"}}
