template(name="passwordChangeField")
  label.control-label(for="password") {{t "forms.profile.password"}}
  .input-group
    input#password.form-control.input-password(type="text", name="password", value="******", readonly, disabled)
    span.input-group-btn
      button.btn.btn-primary.change-password(type="button") {{t "forms.profile.passwordChange.link"}}
