template(name="results")
  .results.panel.panel-default
    .panel-heading
      form.options-form
        .clearfix
          .pull-left
            +controlsForTheHeartOfTheSun
          .pull-right
            .btn-group
              button.toggle-is-utc.btn.btn-default(type="button")
                i.fa.fa-fw.fa-clock-o
                if isUTC
                  | UTC:
                else
                  | Local:
                | {{now}}
        if condition interface "is" "cmd"
          +cmd
        else
          +fieldsets
          +controlsForTheHeartOfTheSun
    if string
      if error
        .panel-body
          .alert.alert-danger(role='alert')
            strong Oh snap!
            pre {{error}}
      .results-scroller
        table.results-table.table.table-hover
          thead
            tr
              each header
                th.sort(data-field="{{.}}")
                  | {{t fieldI18nString}}
                  if condition ../sortField "is" .
                    if ../sortReverse
                      i.fa.fa-caret-down
                    else
                      i.fa.fa-caret-up
          tbody
            each rows
              tr
                each .
                  td
                    if isDynamic
                      +UI.dynamic template=type
                    else
                      | {{value}}
      .panel-body
        ul.pager
          li.increment-start-rec-num(class="{{#if condition startRecNum 'lte' 1}}disabled{{/if}} {{#if stale}}disabled{{/if}}", data-increment="-{{currentUser.profile.numRecs}}")
            a(href='#')
              i.fa.fa-angle-left
              | Previous
          li.dropdown
            select.num-recs.form-control
              each numRecsOptions
                option(value="{{.}}", selected="{{condition . 'is' currentUser.profile.numRecs}}") {{.}} per page
          li.increment-start-rec-num(class="{{#if not rows.length}}disabled{{/if}} {{#if stale}}disabled{{/if}}", data-increment="{{currentUser.profile.numRecs}}")
            a(href='#')
              | Next
              i.fa.fa-angle-right
        .extras
          a.download-csv(href="#")
            i.normal.fa.fa-file-excel-o
            i.loading.fa.fa-spinner.fa-spin(style="display: none;")
            | Download full CSV
          a.download-rwf(href="#")
            i.normal.fa.fa-file-archive-o
            i.loading.fa.fa-spinner.fa-spin(style="display: none;")
            | Download full RWF
        form.display-fields-form
          fieldset
            legend Display fields
            each fields
              .checkbox
                label
                  input.field-checkbox(type="checkbox", checked="{{fieldIsSelected ..}}", value="{{.}}")
                  | {{t fieldI18nString}}
    //else
    //  .panel-body Please type in the query.
