template(name="results")
  if string
    if error
      .panel-body
        .alert.alert-danger(role='alert')
          strong Oh snap!
          pre {{error}}
    table.results.table
      thead
        tr
          each header
            th {{t fieldI18nString}}
      tbody
        each rows
          tr {{{tds}}}
    .panel-body
      ul.pager
        li.increment-start-rec-num(class="{{#if condition startRecNum 'lte' 1}}disabled{{/if}} {{#if stale}}disabled{{/if}}", data-increment="-{{currentUser.profile.numRecs}}")
          a(href='#')
            i.fa.fa-angle-left
            | Previous
        li.increment-start-rec-num(class="{{#if not rows.length}}disabled{{/if}} {{#if stale}}disabled{{/if}}", data-increment="{{currentUser.profile.numRecs}}")
          a(href='#')
            | Next
            i.fa.fa-angle-right
  else
    .panel-body Please type in the query.
