template(name="results")
  with query
    .results.panel.panel-default(class="{{#if ../isDashboard}}is-simple{{/if}}")
      .panel-heading
        form.options-form
          if not isQuick
            if ../isDashboard
              h3.panel-title
                a(href="{{path}}") {{displayName}}
                | &nbsp;
                a.remove-from-dashboard(href="#", title="Remove query from dashboard (but keep in system)")
                  i.fa.fa-times.text-muted
            else
              .form-group
                .input-group
                  +input(family="query" _id=_id property="name" value=name placeholder="Query name" isNew=isNew)
                  .input-group-btn
                    button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button')
                      span.caret
                    ul.dropdown-menu.pull-right
                      li
                        a.confirm(href="/query/{{_id}}/remove", data-confirmation="Are you sure you want to delete this query?")
                          i.fa.fa-trash-o
                          | Delete this query
          if ../isDashboard
            if inputCommand
              code.query-display
                | $ {{inputCommand}}
              code.query-display
                | $ {{outputCommand null currentUser.profile}}
            else
              code.query-display
                em Please set some options to build the query
          .results-buttons.clearfix
            .pull-left
              +controlsForTheHeartOfTheSun
            .pull-right
              .btn-group
                button.toggle-is-utc.btn.btn-default(class="{{#if ../isDashboard}}btn-xs{{/if}}", type="button")
                  i.fa.fa-fw.fa-clock-o
                  if isUTC
                    | UTC:
                  else
                    | Local:
                  | {{now}}
          if not ../isDashboard
            if condition interface "is" "cmd"
              +cmd
              +exclusionsCmd
              +cmdFieldsets
            else
              +fieldsets
              +controlsForTheHeartOfTheSun
      if not isOutputStale
        if error
          .panel-body
            .alert.alert-danger(role='alert')
              strong Oh snap!
              pre {{error}}
      if result
        .results-scroller
          +table
        .panel-body
          if condition output "is" "rwcut"
            ul.pager
              li.increment-start-rec-num(class="{{#if condition startRecNum 'lte' 1}}disabled{{/if}} {{#if isOutputStale}}disabled{{/if}}", data-increment="-{{currentUser.profile.numRecs}}")
                a(href='#')
                  i.fa.fa-angle-left
                  | Previous
              li.dropdown
                select.num-recs.form-control
                  each numRecsOptions
                    option(value="{{.}}", selected="{{condition . 'is' currentUser.profile.numRecs}}") {{.}} per page
              li.increment-start-rec-num(class="{{#if not rows.length}}disabled{{/if}} {{#if isOutputStale}}disabled{{/if}}", data-increment="{{currentUser.profile.numRecs}}")
                a(href='#')
                  | Next
                  i.fa.fa-angle-right
          if not ../isDashboard
            if condition output "is" "rwcut"
              .extras
                a.download-csv(href="#")
                  i.normal.fa.fa-file-excel-o
                  i.loading.fa.fa-spinner.fa-spin(style="display: none;")
                  | Download full CSV
                a.download-rwf(href="#")
                  i.normal.fa.fa-file-archive-o
                  i.loading.fa.fa-spinner.fa-spin(style="display: none;")
                  | Download full RWF
              form.display-fields-block
                fieldset
                  legend Display fields
                  each fieldsOrder
                    .checkbox
                      label
                        input.field-checkbox(type="checkbox", checked="{{fieldIsSelected .. 'fields'}}", value="{{.}}", data-property="fields")
                        | {{t fieldI18nString}}
