template(name="results")
  if string
    if error
      .panel-body
        .alert.alert-danger(role='alert')
          strong Oh snap!
          | {{error}}
    table.results.table
      thead
        tr
          each header
            th {{.}}
      tbody
        each rows
          tr
            each cells
              td {{.}}
  else
    .panel-body Please type in the query.
