template(name="users")
  .container-fluid
    .row
      .col-xs-12
        table.table.table-striped
          thead
            tr
              th {{t "users.fields.email"}}
              th {{t "users.fields.name"}}
              th {{t "users.fields.group"}}
              th {{t "users.fields.actions"}}
          tbody
            each users
              tr
                td {{emails.[0].address}}
                td {{profile.name}}
                td {{group}}
                td
                  a.btn.btn-primary.btn-xs.edit-link(href="{{pathFor 'user'}}")
                    i.fa.fa-pencil
                    | {{t "interface.update"}}
                  button.btn.btn-default.btn-xs.remove-button(disabled="{{condition currentUserId 'is' _id}}")
                    i.fa.fa-trash-o
                    | {{t "interface.remove"}}

        a.btn.btn-primary(href="{{pathFor 'newUser'}}") {{t "interface.insert"}}
