template(name="select")
  select(class="{{family}}-{{property}}-editor {{family}}-property-editor property-editor form-control {{#if isNew}}is-new{{/if}}", name="{{property}}", multiple="{{multiple}}", data-family=family, data-object-id=_id, disabled=disabled)
    if withEmptyOption
      option(value="{{placeholder}}", selected="{{not value}}")
    each options
      option(value="{{value}}", selected="{{optionSelected ..}}") {{name}}

