template(name="textarea")
  textarea(class="{{family}}-{{property}}-editor {{family}}-property-editor property-editor form-control {{cls}} {{#if isNew}}is-new{{/if}}", name="{{property}}", placeholder="{{placeholder}}", data-family="{{family}}", data-object-id="{{_id}}", rows="{{rows}}") {{value}}
