template(name="checkbox")
  input(type="checkbox" class="{{family}}-{{property}}-editor {{family}}-property-editor property-editor {{#if isNew}}is-new{{/if}}", name="{{property}}", placeholder="{{t placeholderI18n}}", data-family=family, data-object-id=_id, checked=value)
