template(name="changePasswordAlertButtonsPanel")
  .button-panel.clearfix
    .error-container.pull-left
    button.btn.btn-success.change-button(type="button") {{t "forms.profile.passwordChange.alert.change"}}
    button.btn.btn-default.close-button(type="button") {{t "interface.cancel"}}
