.navbar-default .navbar-nav > li
  .social
    padding-top 10px
    padding-bottom 10px

.index
  .social
    margin 15px 0

.converter
  .output
    .social
      float right

.social
  .fb-like
    position relative
    top -8px