template(name="social")
  .social
    .g-plusone(href="/" data-size="standard")
    | &nbsp;
    a.twitter-share-button(href='https://twitter.com/share', data-size="large", data-related='priestIO') Tweet
    | &nbsp;
    .fb-like.fb-button(data-layout='button_count', data-action='like', data-show-faces='true', data-share='false')
