template(name="resetPasswordAlertDescription")
  form.reset-password-form
    .form-group
      input.form-control.password(type="password", name="password", placeholder="{{t 'forms.login.passwordReset.alert.passwordPlaceholder'}}")
