template(name="queryList")
  .container-fluid.query-list.object-list
    .row
      .col-xs-12.col-md-6
        h1.leader Saved Queries
        .panel.panel-default.panel-alt.widget-messaging
          if queries.count
            .panel-body
              ul
                each queries
                  li
                    a(href=path)
                      h4.sender {{displayName}}
                      if inputCommand currentConfig currentUser.profile true
                        code.query-display $ {{inputCommand currentConfig currentUser.profile true}}
                        code.query-display $ {{outputCommand currentConfig currentUser.profile true}}
                      else
                        code.query-display No parameters specified
          .panel-footer
            a.btn.btn-primary(href="/query/create") <i class="fa fa-plus"></i> Create query
