template(name="navbar")
  nav.navbar.navbar-default.navbar-static-top.navbar-main(role="navigation")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#top-navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/")
          img(src="/images/logo.png")
      #top-navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav
          if currentUser
            li
              a(href="/") Dashboard
            li
              a(href="/query/create/quick") Quick Query
            li
              a(href="/query/list") Saved Queries
            li
              a(href="/ipset/list") IP Sets
        ul.nav.navbar-nav.navbar-right
          if currentUser
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                | {{currentUser.profile.name}}
                b.caret
              ul.dropdown-menu
                //li: a(href="/user/{{currentUser._id}}") Profile
                if currentUserHasRole "admin"
                  li: a(href="/users") User administration
                  li: a(href="/config") SiLK server configuration
                else
                  li: a(href="/profile") Profile
                li: a(href="/help") Help
                li.divider
                li: a.logout(href="#") Logout
          else
            +login
