#signinPopoverContainer, #signupPopoverContainer
  display none

.signinPopover, .signupPopover
  width 200px
  text-align center

.signin, .signup
  width 240px
  padding 10px
  .sign-in-with-google
    width 100%
  p
    text-align center
    padding 0
    margin 0 0 4px 0
  label.error
    color #e24333 !important
    padding 0 8px 4px
