template(name="navbar")
  nav.navbar.navbar-default.navbar-static-top.navbar-main(role="navigation")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#top-navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/")
          img(src="/images/logo.png")
      #top-navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav
          if currentUser
            li(class="{{#if condition currentTemplateName 'is' 'dashboard'}}active{{/if}}")
              a(href="/") Dashboard
            li(class="{{#if condition currentTemplateName 'in' 'query'}}{{#if queryObject.isQuick}}active{{/if}}{{/if}}")
              a(href="/query/create/quick") Quick Query
            li(class="{{#if condition currentTemplateName 'in' 'queryList' 'query'}}{{#if not queryObject.isQuick}}active{{/if}}{{/if}}")
              a(href="/query/list") Saved Queries
            li(class="{{#if condition currentTemplateName 'in' 'ipsetList' 'ipset' 'ipsetCreate'}}active{{/if}}")
              a(href="/ipset/list") IP Sets
            li(class="{{#if condition currentTemplateName 'in' 'tupleList' 'tuple' 'tupleCreate'}}active{{/if}}")
              a(href="/tuple/list") Tuple Files
        ul.nav.navbar-nav.navbar-right
          if currentUser
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                | {{currentUser.profile.name}}
                b.caret
              ul.dropdown-menu
                //li: a(href="/user/{{currentUser._id}}") Profile
                if currentUserHasRole "admin"
                  li: a(href="/users") User administration
                  li: a(href="/config") SiLK server configuration
                else
                  li: a(href="/profile") Profile
                li: a(href="/help") Help
                li.divider
                li: a.logout(href="#") Logout
          else
            +login
        ul.nav.navbar-nav.navbar-right  
            a.btn.btn-primary#nightMode(href="javascript:(function(){var css='html {-webkit-filter: invert(100%);'+'-moz-filter: invert(100%);'+'-o-filter: invert(100%);'+'-ms-filter: invert(100%); }body{background:#1B1815}',head=document.getElementsByTagName('head')[0],style=document.createElement('style');if(!window.counter){window.counter=1;}else{window.counter++;if(window.counter%2==0){var css='html {-webkit-filter: invert(0%); -moz-filter: invert(0%); -o-filter: invert(0%); -ms-filter: invert(0%); }body{background:#E4E7EA}'}};style.type='text/css';if(style.styleSheet){style.styleSheet.cssText=css;}else{style.appendChild(document.createTextNode(css));}head.appendChild(style);})();" style="margin-top: 0.5em; margin-right: 0.5em; ") <i class="fa fa-sun-o"></i>/<i class="fa fa-moon-o"></i>
