template(name="navbar")
  nav.navbar.navbar-default.navbar-static-top.navbar-main(role="navigation")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#top-navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/")
          img(src="/images/logo.gif")
      #top-navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav
          if currentUser
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                | Queries
                b.caret
              ul.dropdown-menu
                each queries
                  li: a(href=path) {{#if name}}{{name}}{{else}}#{{_id}}{{/if}}
                if queries.length
                  li.divider
                li: a.insert-meeting(href="/query/create") <i class="fa fa-plus"></i> Create query
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                | IP Sets
                b.caret
              ul.dropdown-menu
                each ipsets
                  li: a(href=path) {{#if name}}{{name}}{{else}}#{{_id}}{{/if}}
                if ipsets.length
                  li.divider
                li: a.insert-meeting(href="/ipset/create") <i class="fa fa-plus"></i> Create IP Set
        ul.nav.navbar-nav.navbar-right
          if currentUser
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                | {{currentUser.profile.name}}
                b.caret
              ul.dropdown-menu
                //li: a(href="/user/{{currentUser._id}}") Profile
                //li.divider
                li: a.logout(href="#") Logout
          else
            +login
