template(name="changePasswordAlertDescription")
  form.change-password-form
    .form-group
      input#newPassword.form-control.new-password(type="password", name="newPassword", placeholder="{{t 'forms.profile.passwordChange.alert.newPasswordPlaceholder'}}")
