template(name="controlsForTheHeartOfTheSun")
  .controlsForTheHeartOfTheSun
    .btn-group
      button.execute.btn.btn-default(type="submit")
        if isStale
          i.fa.fa-fw.fa-spinner.fa-spin
        else
          i.fa.fa-fw.fa-search
        | Execute {{executingIntervalString}}
      button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu(role='menu')
        li
          a.set-executing-interval(href='#', data-interval="900000") Execute each 15 minutes
        li
          a.set-executing-interval(href='#', data-interval="3600000") Execute each 60 minutes
        li
          a.input-executing-interval(href='#') Execute periodically...
        if executingInterval
          li.divider
          li
            a.set-executing-interval(href='#', data-interval="0") Stop periodic execution
    .btn-group
      button.set-interface.btn.btn-default(class="{{#if condition interface 'is' 'cmd'}}active{{/if}}", data-interface="cmd", type="button")
        i.fa.fa-space-shuttle
        | Command line
      button.set-interface.btn.btn-default(class="{{#if condition interface 'is' 'builder'}}active{{/if}}", data-interface="builder", type="button")
        i.fa.fa-cog
        | Query builder
