template(name="controlsForTheHeartOfTheSun")
  div.controlsForTheHeartOfTheSun
    .btn-group
      button.execute.btn.btn-default(type="submit")
        if stale
          i.fa.fa-fw.fa-spinner.fa-spin
        else
          i.fa.fa-fw.fa-search
        | Execute
      button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Execute each 15 minutes
        li
          a(href='#') Execute each hour
        li
          a(href='#') Execute periodically...
        li.divider
        li
          a(href='#') Stop periodic execution
    .btn-group
      button.set-interface.btn.btn-default(class="{{#if condition interface 'is' 'cmd'}}active{{/if}}", data-interface="cmd", type="button")
        i.fa.fa-space-shuttle
        | Command line
      button.set-interface.btn.btn-default(class="{{#if condition interface 'is' 'builder'}}active{{/if}}", data-interface="builder", type="button")
        i.fa.fa-cog
        | Query builder
