template(name="controlsForTheHeartOfTheSun")
  .controlsForTheHeartOfTheSun
    .btn-group
      button.execute.btn.btn-default(class="{{#if ../isDashboard}}btn-xs{{/if}}", type="submit")
        if isResultStale
          i.fa.fa-fw.fa-spinner.fa-spin
        else
          i.fa.fa-fw.fa-search
        | Execute {{executingIntervalString}}
      button.btn.btn-default.dropdown-toggle(class="{{#if ../isDashboard}}btn-xs{{/if}}", type='button', data-toggle='dropdown')
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu(role='menu')
        li
          a.set-executing-interval(href='#', data-interval="900000") Execute each 15 minutes
        li
          a.set-executing-interval(href='#', data-interval="3600000") Execute each 60 minutes
        li
          a.input-executing-interval(href='#') Execute periodically...
        if executingInterval
          li.divider
          li
            a.set-executing-interval(href='#', data-interval="0") Stop periodic execution
    | &nbsp;
    if ../isDashboard
      .btn-group
        a(href="{{path}}", class="{{#if ../isDashboard}}btn-xs{{/if}}").btn.btn-default
          i.fa.fa-pencil
          | Edit
    else
      .btn-group
        button.set-interface.btn.btn-default(class="{{#if condition interface 'is' 'cmd'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-interface="cmd", type="button")
          i.fa.fa-space-shuttle
          | Command line
        button.set-interface.btn.btn-default(class="{{#if condition interface 'is' 'builder'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-interface="builder", type="button")
          i.fa.fa-cog
          | Query builder
      | &nbsp;&nbsp;
      .btn-group
        button.set-output.btn.btn-default(class="{{#if condition output 'is' 'rwcut'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-output="rwcut", type="button")
          i.fa.fa-bars
          | Records
        button.set-output.btn.btn-default(class="{{#if condition output 'is' 'rwstats'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-output="rwstats", type="button")
          i.fa.fa-tasks
          | Stats
        button.set-output.btn.btn-default(class="{{#if condition output 'is' 'rwcount'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-output="rwcount", type="button")
          i.fa.fa-bar-chart-o
          | Count
