template(name="table")
  table.results-table.table.table-hover
    thead
      tr
        each header
          th(data-field="{{name}}")
            if isPercentage
              | %
            with name
              | {{t fieldI18nString}}
            if isDistinct
              | (distinct)
            if condition ../output "is" "rwcut"
              if condition ../sortField "is" name
                if ../sortReverse
                  i.fa.fa-caret-down
                else
                  i.fa.fa-caret-up
    tbody
      each rows
        tr
          each .
            td.dropdown
              div(class="{{#if isPivotable}}dropdown-toggle{{/if}}", data-toggle="dropdown")
                if condition _id "is" "sTime"
                  +time
                else if condition _id "is" "eTime"
                  +time
                else
                  | {{value}}
              if isPivotable
                ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                  if condition _id "in" "sIP" "dIP"
                    li(role='presentation')
                      a.add-to-query(role='menuitem', tabindex='-1', href='#', data-id="sIP", data-value="{{value}}") Add to query as "{{t "rwcut.fields.sIP"}}"
                    li(role='presentation')
                      a.add-to-query(role='menuitem', tabindex='-1', href='#', data-id="dIP", data-value="{{value}}") Add to query as "{{t "rwcut.fields.dIP"}}"
                    li(role='presentation')
                      a.add-to-query(role='menuitem', tabindex='-1', href='#', data-id="aIP", data-value="{{value}}") Add to query as "{{t "rwcut.fields.aIP"}}"
                  else if condition _id "in" "sPort" "dPort"
                    li(role='presentation')
                      a.add-to-query(role='menuitem', tabindex='-1', href='#', data-id="sPort", data-value="{{value}}") Add to query as "{{t "rwcut.fields.sPort"}}"
                    li(role='presentation')
                      a.add-to-query(role='menuitem', tabindex='-1', href='#', data-id="dPort", data-value="{{value}}") Add to query as "{{t "rwcut.fields.dPort"}}"
                    li(role='presentation')
                      a.add-to-query(role='menuitem', tabindex='-1', href='#', data-id="aPort", data-value="{{value}}") Add to query as "{{t "rwcut.fields.aPort"}}"
                  else if condition _id "in" "sTime" "eTime"
                    li(role='presentation')
                      a.add-to-query(role='menuitem', tabindex='-1', href='#', data-id="sTime", data-value="{{value}}") Add to query as "{{t "rwcut.fields.sTime"}}"
                    li(role='presentation')
                      a.add-to-query(role='menuitem', tabindex='-1', href='#', data-id="eTime", data-value="{{value}}") Add to query as "{{t "rwcut.fields.eTime"}}"
                    li(role='presentation')
                      a.add-to-query-as-before-after-time(role='menuitem', tabindex='-1', href='#', data-spread="60000", data-value="{{value}}") Add to query as "Before/After Time (1 Minute)"
                    li(role='presentation')
                      a.add-to-query-as-before-after-time(role='menuitem', tabindex='-1', href='#', data-spread="300000", data-value="{{value}}") Add to query as "Before/After Time (5 Minutes)"
                   else
                    li(role='presentation')
                      a.add-to-query(role='menuitem', tabindex='-1', href='#', data-id="{{_id}}", data-value="{{value}}") Add to query as "{{fieldI18n}}"
                    //li(role='presentation')
                    //  a.new-query(role='menuitem', tabindex='-1', href='#', data-id="{{_id}}", data-value="{{value}}") Query this value
