template(name="table")
  table.results-table.table.table-hover
    thead
      tr
        each header
          th(data-field="{{.}}")
            | {{t fieldI18nString}}
            if condition ../sortField "is" .
              if ../sortReverse
                i.fa.fa-caret-down
              else
                i.fa.fa-caret-up
    tbody
      each rows
        tr
          each .
            td.dropdown(data-id="{{_id}}", data-value="{{value}}")
              div(class="{{#if isPivotable}}dropdown-toggle{{/if}}", data-toggle="dropdown")
                if condition _id "is" "sTime"
                  +time
                else if condition _id "is" "eTime"
                  +time
                else
                  | {{value}}
              if isPivotable
                ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                  li(role='presentation')
                    a.add-to-query(role='menuitem', tabindex='-1', href='#') Add to current query
                  li(role='presentation')
                    a.new-query(role='menuitem', tabindex='-1', href='#') Query this value
