template(name="userForm")
  form.profile-form
    div.form-group
      label.control-label(for="email") {{t "forms.profile.email"}}
      input.form-control.input-profile-email(type="text", id="profile-email", name="email", value="{{emails.[0].address}}", placeholder="{{t 'forms.profile.emailPlaceholder'}}")
    div.form-group
      label.control-label(for="profile-name") {{t "forms.profile.name"}}
      input.form-control.input-profile-name(type="text", id="profile-name", name="name", value="{{profile.name}}", placeholder="{{t 'forms.profile.namePlaceholder'}}")
    div.form-group
      label.control-label(for="password") {{t "forms.profile.password"}}
      .input-group
        input#password.form-control.input-profile-password(type="text", name="password", value="******", readonly, disabled)
        span.input-group-btn
          button.btn.btn-primary.change-password {{t "forms.profile.passwordChange.link"}}
    div.form-group
      label.control-label(for="group") {{t "forms.profile.group"}}
      select#group.form-control(name="group")
        each groups
          option(value="{{value}}", selected="{{isCurrent}}") {{name}}
    div.form-group
      div.hint {{t "interface.changesAreSavedAutomatically"}}
