.ui-menu .ui-menu-item
  a, a:active, a:focus, a:hover
    color darkslategrey

.ui-autocomplete
  max-height: 181px;
  border 1px solid #ccc
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  background-color white


.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  margin: 0px;
  background url("/images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
  color darkslategrey
}