@import 'nib'

html
  position absolute
  width 100%
  height 100%
  margin 0
  padding 0

body
  overflow-y scroll
  width 100%
  height 100%
  margin 0
  padding 0

/*
textarea
  box-sizing: border-box
  width 100%
  height 18px
  overflow hidden
  padding 0
  border 0
  appearance none
  padding-end 0px
  padding-start 0px
  outline none
  resize none
  margin 0
  color #393939
  background-color transparent
*/

.start-editing, .stop-editing, .add-object
  &:hover
    cursor pointer
    text-decoration underline

.control-icons
  .fa
    cursor pointer

.object
  &.is-edited
    > .form-area
      margin-left: -15px;
      margin-right: -15px;
      background-color #F5F5F5
      border-radius 5px
      > .row
        margin-left: 0;
        margin-right: 0;
      form
        margin 15px 0
      .control-label
        text-align left
      .form-control
        font-size 18px

.user
  .avatar
    display inline-block
    vertical-align middle
    width 30px
    height 30px
    overflow hidden
    border-radius 5px
    margin-right 4px
    img
      max-width 30px
  .name
    vertical-align middle
  .party
    vertical-align middle

.align-middle
  vertical-align middle

.add-objects-wrapper
  margin 10px 0
  .results
    margin-bottom 15px
    .user
      &:hover
        cursor pointer
        .name
          text-decoration underline

.object.placeholder
  background-color #F0F0F0

.object-list
  ul
    li
      padding 0
    a
      display block
      padding 15px 20px
      &:hover
        text-decoration none
        .sender
          text-decoration underline
    a, a:link, a:visited, a:active
      color #636e7b

.splash-screen
  .row
    margin-top 150px
  .error-container
    line-height 45px
    font-size 16px
    padding 0 15px

.equiwidth
  min-width 110px

.fake-input-group
  .input-group-addon
    border 1px solid #ccc
    border-radius 2px
  .fake-input
    height 42px

.dashed
  border-bottom 1px dashed #428bca
  text-decoration none
  &:hover
    text-decoration none
    border-bottom 1px dashed #2a6496
