body
  background-color #e4e7ea

.navbar-main
  background-color #ffffff

.input-group
  .btn
    padding-top 9px
    padding-bottom 9px

.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
  cursor default

legend
  padding-bottom 3px
  margin-bottom 10px
