body
  background-color #e4e7ea

.navbar-main
  background-color #ffffff

.input-group
  .btn
    padding-top 9px
    padding-bottom 9px

.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span
  cursor default
