html
  height auto

body
  background-color #e4e7ea

.navbar-main
  background-color #ffffff
  border 0
  .navbar-form
    margin-top 7px
    margin-bottom 6px

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #e4e7ea;
}


.input-group
  .btn
    padding-top 9px
    padding-bottom 9px
  .btn-near-select
    padding-top 7px
    padding-bottom 7px

.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
  cursor default

legend
  padding-bottom 3px
  margin-bottom 10px

.chosen-choices, .chosen-single
  padding 4px !important

.chosen-single
  padding-left 8px !important
  padding-right 8px !important
  line-height: 32px !important

.chosen-container-single .chosen-single abbr
  top: 12px;
  right: 34px;

.chosen-disabled
  opacity 1 !important
  .chosen-choices
    background-color #eee
    li.search-choice
      background-color #dedede
  .chosen-single
    background-color #eee
    div
      opacity .65

div.error
  color #a94442
  margin-top: 5px;
  margin-bottom: 10px;

.nav > li > a
  font-family: 'LatoBold'

select
  -webkit-appearance: menulist-button

.panel-heading p
  margin-top 5px

legend
  font-size 17px
