template(name="help")
  .container-fluid.config
    .row
      .col-xs-12
        .panel
          .panel-heading
            h4.panel-title Help
          .panel-body
            | Documentation will be here soon.
