.meeting
  .duration
    text-align center
    padding 0
  .talk
    .name
      padding-left 15px + 15px
  .reply
    .name
      padding-left 15px + 25px;
  .cue
    /*border-left 1px transparent solid*/
    /*border-right 1px transparent solid*/
    &:hover
      /*border-left 1px lightgrey solid*/
      /*border-right 1px lightgrey solid*/
