template(name="ipsetList")
  .container-fluid.ipset-list.object-list
    .row
      .col-xs-12.col-md-6
        h1.leader IP Sets
        .panel.panel-default.panel-alt.widget-messaging
          if ipsets.count
            .panel-body
              ul
                each ipsets
                  li
                    a(href=path)
                      h4.sender {{displayName}}
                      if note
                        small {{note}}
          .panel-footer
            a.btn.btn-primary(href="/ipset/create") <i class="fa fa-plus"></i> Create IP Set
