template(name="dashboard")
  .container-fluid.dashboard
    .row
      .col-xs-12
        h1.leader Dashboard
        form.quick-query-form.panel
          .panel-heading
            .form-group
              .input-group
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    i.fa.fa-fw.fa-search
                    | Execute
                input.quick-query.form-control(type="text", name="query", placeholder="Quick query")
              .input-group.exclusion
                .input-group-addon Exclusions
                +input(family="query" _id=_id property="exclusionsCmd" value=exclusionsCmd isNew=isNew placeholder="Example: --sensor=50 --type=S OR --sensor=60 --type=7")
        each queries
          +results(_id=_id isDashboard=true)
        .panel
          .panel-body
            .btn-group
              button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                i.fa.fa-fw.fa-plus
                | Add query to dashboard
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a.insert-query(href='#') Add new query
                if queriesNotOnDashboard.count
                  li.divider
                each queriesNotOnDashboard
                  li
                    a.add-query(href='{{path}}', data-id="{{_id}}") {{displayName}}
