.results > thead > tr > th:first-child, .results > tbody > tr > th:first-child, .results > tfoot > tr > th:first-child, .results > thead > tr > td:first-child, .results > tbody > tr > td:first-child, .results > tfoot > tr > td:first-child
  padding-left 15px

.results > thead > tr > th:last-child, .results > tbody > tr > th:last-child, .results > tfoot > tr > th:last-child, .results > thead > tr > td:last-child, .results > tbody > tr > td:last-child, .results > tfoot > tr > td:last-child
  padding-right 15px
