template(name="index")
  .container.index
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            form.query-form
              .input-group
                .input-group-addon
                  if query.stale
                    i.fa.fa-fw.fa-spinner.fa-spin
                  else
                    i.fa.fa-fw.fa-search
                input.form-control.query(type="text", placeholder="Query", value=query.string)
          +results(query)
