template(name="index")
  .container.index
    .row
      .col-lg-12
        h3 Welcome!
        p Please select the meeting from menu above or the following list:
        ul
          each meetings
            li
              a(href="/meeting/#{_id}") #{name}
