<template name="alert">
  <div class="alert-message stop-propagation">
    {{#if not hideHead}}
      <div class="head-block clearfix">
        <span class="close-button icon-close pull-right"></span>
        <span class="alert-title">
          {{#if nameTemplate}}
            {{> dynamicTemplate name=nameTemplateName data=nameTemplateData}}
          {{else}}
            {{{name}}}
          {{/if}}
        </span>
      </div>
    {{/if}}
    <div class="alert-text">
      {{#if descriptionTemplateName}}
        {{> dynamicTemplate name=descriptionTemplateName data=descriptionTemplateData}}
      {{else}}
        {{{description}}}
      {{/if}}
    </div>
    {{#if not hideButtonPanel}}
      {{#if buttonPanelTemplateName}}
        {{> dynamicTemplate name=buttonPanelTemplateName data=buttonPanelTemplateData}}
      {{else}}
        {{> buttonPanel}}
      {{/if}}
    {{/if}}
  </div>
</template>
