template(name="presentationFieldset")
  fieldset
    legend Presentation
    .row
      .col-xs-6
        .input-group
          .input-group-btn
            .btn-group
              button.set-property.btn.btn-default(class="{{#if condition presentation 'is' 'table'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="presentation", data-value="table", type="button")
                i.fa.fa-bars
                | Table
              button.set-property.btn.btn-default(class="{{#if condition presentation 'is' 'chart'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="presentation", data-value="chart", type="button")
                i.fa.fa-line-chart
                | Chart
    if condition presentation 'is' 'chart'
      if condition availableChartTypes.length ">" 1
        .row
          .col-xs-6
            .input-group
              .input-group-btn
                .btn-group
                  if condition 'LineChart' 'in' availableChartTypes
                    button.set-property.btn.btn-default(class="{{#if condition chartType 'is' 'LineChart'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="chartType", data-value="LineChart", type="button")
                      i.fa.fa-line-chart
                      | Line chart
                  if condition 'BarChart' 'in' availableChartTypes
                    button.set-property.btn.btn-default(class="{{#if condition chartType 'is' 'BarChart'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="chartType", data-value="BarChart", type="button")
                      i.fa.fa-bar-chart
                      | Bar chart
                  if condition 'ColumnChart' 'in' availableChartTypes
                    button.set-property.btn.btn-default(class="{{#if condition chartType 'is' 'ColumnChart'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="chartType", data-value="ColumnChart", type="button")
                      i.fa.fa-columns
                      | Column chart
                  if condition 'PieChart' 'in' availableChartTypes
                    button.set-property.btn.btn-default(class="{{#if condition chartType 'is' 'PieChart'}}active{{/if}} {{#if ../isDashboard}}btn-xs{{/if}}", data-property="chartType", data-value="PieChart", type="button")
                      i.fa.fa-pie-chart
                      | Pie chart
