template(name="profile")
  .container-fluid
    .row
      .col-xs-12.col-md-6
        .panel
          .panel-heading
            h4.panel-title Profile settings
          .panel-body
            +passwordChangeField
