template(name="user")
  .container
    if isCurrentUser
      .row
        .col-xs-12.col-md-6
          +userForm user
    else
      with user
        h2 {{profile.name}}
        if profile.image
          .image-wrapper
            img.large.profile-image(src="{{profile.image}}")
