template(name="removeUserAlertButtonsPanel")
  .button-panel.clearfix
    .error-container.pull-left
    button.btn.btn-danger.remove-button(type="button")
      i.fa.fa-trash-o
      | {{t "users.removeAlert.remove"}}
    button.btn.btn-default.close-button(type="button")
      i.fa.fa-times
      | {{t "interface.cancel"}}
