template(name="removeUserAlertButtonsPanel")
  .button-panel.clearfix
    .error-container.pull-left
    button.btn.btn-success.remove-button(type="button") {{t "users.removeAlert.remove"}}
    button.btn.btn-default.close-button(type="button") {{t "interface.cancel"}}
