template(name="reply")
  .object.reply(class="{{#if isEdited}}is-edited{{/if}}" data-family="reply" data-id="#{_id}")
    .form-area
      .row
        .col-xs-1.col-md-1
        .col-xs-7.col-md-9.shifted
          .user
            | ⌙
            +userpin(user=user isEditable=true isEdited=isEdited)
        .col-xs-2.col-md-1.duration
        .col-xs-2.col-md-1.duration
          h5.text-muted
            span.align-middle {{share.milliseconds2minutes ../../replyDuration}}
      if isEdited
        .row
          .col-xs-1.col-md-1
          .col-xs-10.col-md-10.shifted
            form.form-horizontal(role="form")
              button.btn.btn-primary(type='submit')
                span.fa.fa-check
                | Save reply
              button.btn.btn-link.remove(data-confirmation="{{t 'forms.reply.actions.removeConfirmation'}}")
                | Delete
